/* .navbar {
    background: lightblue;
    height: 50px;
    padding: 0 5%;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
} 

.navbar div:nth-child(2) a {
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.navbar div:nth-child(2) a:nth-child(2) {
   color: black;
   background: white;
   padding: .2em 1.0em;
   border-radius: 5em;
   display: inline-block;
} */

