.navbars {
    background: paleturquoise;
    height: 50px;
    padding: 0 5%;
}

.logo-name {
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 1.2em;
} 

.logo-name span {
    color: blueviolet;
}

.like-btn {
    color: rgb(255, 127, 80);
    font-size: 1.5rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
  }

  .like-btn:hover {
    color: rgb(241, 71, 19);
  }
  
  .like-btn:active {
    color: rgb(253, 159, 124);
  }
  
  .like-btn:focus {
    outline: none;
  }

  li {
    list-style-type: none;
  }
/* .navbar div a {
    color: skyblue ;
    text-decoration: none;
    font-weight: bold;
} */

/* .navbar div:nth-child(2) a:nth-child(2) {
   color: black;
   background: white;
   padding: .2em 1.0em;
   border-radius: 5em;
   display: inline-block;
}  */

